---
import LinkBlock from "@/components/block/link-block.astro"
---

<nav>
  <LinkBlock
    href="/"
    cta
    center
    color="text-fw-clay/80"
    hover="hover:text-fw-sienna">Back</LinkBlock
  >
</nav>
