---
import siteConfig from "@/data/site-config"
---

<footer>
  <p class="font-rethink text-fw-text text-md font-light">
    &copy; 2022 {siteConfig.author}.<br />Built with {
      siteConfig.tooling.map((tool) => (
        <span>
          <a href={tool.url} class="text-fw-terracotta hover:text-fw-clay">
            {tool.name}
          </a>
          ,{' '}
        </span>
      ))
    } and &nbsp;💛
  </p>
</footer>
