---
const { title } = Astro.props
---

<main>
  <h1 class="font-cartridgeboldrough text-tn-text text-2xl lg:text-5xl mb-3 lg:mb-6">{title}</h1>
  <div class="prose lg:prose-lg font-rethink text-tn-text">
  <slot />
  </div>
</main>
