---
import LinkBlock from "@/components/block/link-block.astro"
import SectionHeadingBlock from "@/components/block/section-heading-block.astro"
import siteConfig from "@/data/site-config"
---

<section>
  <SectionHeadingBlock>Things I've made</SectionHeadingBlock>
  <ul class="grid grid-cols-2 gap-4">
    {
      siteConfig.maker.map((link) => (
        <li class="text-center">
          <LinkBlock
            href={link.url}
            cta
            rel="me"
            color="text-tn-purple0/80"
            hover="hover:text-tn-purple0"
          >
            {link.name}
          </LinkBlock>
        </li>
      ))
    }
  </ul>
</section>
