---
import TileBlock from "@/components/block/tile-block.astro"
import SectionHeadingBlock from "@/components/block/section-heading-block.astro"
import siteConfig from "@/data/site-config"
---

<section>
  <SectionHeadingBlock>Things I've worked on</SectionHeadingBlock>
  <ul class="grid grid-cols-2 gap-4">
    {
      siteConfig.maker.map((link) => (
        <li class="text-center">
          <TileBlock
            href={link.url}
            cta
            rel="me"
        color="text-tn-purple0/80"
            hover="hover:text-tn-purple0"
            image={link.image}
            description={link.description}
            name={link.name}
      />
        </li>
      ))
    }
  </ul>
</section>
