---
import { getCollection } from "astro:content"

const movies = await getCollection("movies")

const sortedMovies = movies.sort((a, b) => a.data.rank - b.data.rank)
---

<section class="not-prose">
  <ul class="grid grid-cols-2 md:grid-cols-3 gap-5 list-none">
    {
      sortedMovies.map((item) => {
    const { title, poster, year } = item.data
        return (
          <li>
      <img class="h-auto max-w-full rounded-lg hover:saturate-120" src={`https://img.mightydinosaur.dev/movies/thumb/${poster}`} alt={title}>
      <h2 class="font-cartridgerough text-lg mt-1.5 text-tn-purple0">{title}</h2>
        <p class="text-sm mt-0.5">{year}</p>
          </li>
        )
      })
    }
  </ul>
</section>

