---
import LinkBlock from "@/components/block/link-block.astro"
import getPages from "@/data/get-pages"

const pages = await getPages()
---

<nav>
  <ul class="grid gap-6">
    {
      pages.map((page) => (
        <li>
          <LinkBlock
            href={`/${page.data.permalink}/`}
            cta
            center
            color="text-tn-blue0/80"
            hover="hover:text-tn-blue0"
          >
            {page.data.title}
          </LinkBlock>
        </li>
      ))
    }
  </ul>
</nav>
