---
import SectionHeadingBlock from "@/components/block/section-heading-block.astro";
import getPages from "@/data/get-pages.ts";

const pagess = [
  { title: "Movies", description: "The films I love", url: "/movies/" },
];

const pages = await getPages();
---

<section>
  <SectionHeadingBlock> Pages </SectionHeadingBlock>
  <ul class="grid grid-cols-4 gap-6">
    {
      pages.map((page) => {
        const { title, description } = page.data;
        return (
          <li>
            <a href={`/${page.slug}/`} class="block rounded-3xl">
              <h2 class="font-cartridgerough text-tn-orange/90 hover:text-tn-orange text-lg transition-all duration-150 ease-in-out hover:brightness-110">
                {title}
              </h2>
              <p class="text-md font-rethink text-tn-text">{description}</p>
            </a>
          </li>
        );
      })
    }
  </ul>
</section>
