---
const { title, permalink } = Astro.props

// Split title into words for view transitions
const titleWords = title ? title.split(" ") : []
---

<main
    class="prose-xl prose font-rethink text-fw-text prose-headings:font-cartridgerough prose-headings:text-fw-text prose-headings:uppercase prose-h1:font-cartridgeboldrough prose-h1:text-4xl prose-h1:text-fw-ember prose-h2:text-fw-clay prose-h3:text-fw-umber prose-strong:text-fw-sienna prose-a:text-fw-sienna/85 prose-a:hover:text-fw-clay prose-img:rounded-xl"

>
  <h1>
    {titleWords.map((word, index) => (
      <span
        style={{
          viewTransitionName: permalink ? `title-${permalink}-word-${index}` : undefined,
        }}
      >
        {word}{index < titleWords.length - 1 ? " " : ""}
      </span>
    ))}
  </h1>
  <div data-content="page">
    <slot />
  </div>
</main>
