---
const { title, permalink } = Astro.props

// Split title into words for view transitions
const titleWords = title ? title.split(" ") : []
---

<main
    class="prose-xl prose font-rethink text-tn-text prose-headings:font-cartridgerough prose-headings:text-tn-text prose-h1:font-cartridgeboldrough prose-h1:text-4xl prose-h1:text-tn-orange prose-h2:text-tn-green prose-h3:text-tn-blue0 prose-a:text-tn-purple0/85 prose-a:hover:text-tn-purple0 prose-img:rounded-xl"

>
  <h1>
    {titleWords.map((word, index) => (
      <span
        style={{
          viewTransitionName: permalink ? `title-${permalink}-word-${index}` : undefined,
        }}
      >
        {word}{index < titleWords.length - 1 ? " " : ""}
      </span>
    ))}
  </h1>
  <slot />
</main>
