@font-face {
	font-family: "cartridgebold_rough";
	src: url("https://static.mightydinosaur.dev/webfonts/cartridge-boldrough-webfont.woff2")
		format("woff2");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "cartridgerough";
	src: url("https://static.mightydinosaur.dev/webfonts/cartridge-rough-webfont.woff2")
		format("woff2");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Rethink Sans";
	src: url("https://static.mightydinosaur.dev/webfonts/rethinksans.woff2")
		format("woff2");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Rethink Sans Italic";
	src: url("https://static.mightydinosaur.dev/webfonts/rethinksans-italic.woff2")
		format("woff2");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
