---
import { ClientRouter } from "astro:transitions"
import Head from "@/components/structure/head.astro"
import "@/styles/global.css"

interface Props {
	title: string
	description: string
	url: string
}

const { title, description, url } = Astro.props
---

<html lang="en">
  <head>
    <Head {title} {description} {url} />
    <ClientRouter />
  </head>
  <body class="bg-tn-mantle from-tn-crust to-tn-mantle bg-linear-to-b">
    <slot />
  </body>
</html>

<style>

body::before {
  content: '';
  position: fixed;
  inset: 0;
  pointer-events: none;
  background-image: var(--background-image-grain);
  opacity: 0.08;
  mix-blend-mode: overlay;
  z-index: 9999;
}

</style>
