---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root {
    --base: #16161E;
    --primary: #DB4B4B; 
    --secondary: #41A6B5; 
	}
	html {
		font-family: system-ui, sans-serif;
		background: var(--base);
	}
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
  }
</style>
