---
import FooterBlock from "@/components/block/footer-block.astro"
import GridBlock from "@/components/block/grid-block.astro"
import MightyDinosaurBlock from "@/components/block/mighty-dinosaur-block.astro"
import ThemeToggleBlock from "@/components/block/theme-toggle-block.astro"
import WrapperBlock from "@/components/block/wrapper-block.astro"
import Body from "@/components/structure/body.astro"

const { title, description, url } = Astro.props
---

<Body {title} {description} {url}>
  <WrapperBlock>
    <GridBlock>
      <div class="flex items-start justify-between">
        <MightyDinosaurBlock />
        <ThemeToggleBlock />
      </div>
      <slot />
      <FooterBlock />
    </GridBlock>
  </WrapperBlock>
</Body>
