name: Deploy to Bunny.net

on:
  push:
    branches: [bunny]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Bun
        uses: oven-sh/setup-bun@v1
        with:
          bun-version: latest

      - name: Install dependencies
        run: bun install

      - name: Build site
        run: bun run build
      - name: Deploy to BunnyCDN
        uses: ayeressian/bunnycdn-storage-deploy@v2.2.5
        with:
          source: 'dist'
          destination: 'www'
          storageZoneName: '${{ secrets.BUNNY_STORAGE_ZONE }}'
          storagePassword: '${{ secrets.BUNNY_STORAGE_PASSWORD }}'
          storageEndpoint: '${{secrets.BUNNY_STORAGE_ENDPOINT}}'
          accessKey: '${{ secrets.BUNNY_API_KEY }}'
          pullZoneId: '${{ secrets.BUNNY_PULL_ZONE_ID }}'
          upload: 'true'
          remove: 'true'
          purgePullZone: 'true'
